
<span class="burger-names">{{burger_name}}</span>


{{#if devoured}}<a class="waves-effect waves-light btn-small" data-id="{{id}}" data-devoured="{{devoured}}">
    <i class="material-icons left"></i>Eaten</a>
    {{else}}<a class="waves-effect waves-light btn-small change-devoured" data-id="{{id}}" data-devoured="{{devoured}}">
    <i class="material-icons left">fastfood</i>Devour it!</a>
    {{/if}}





