
{{!-- <span class="burger-names" data-devoured="{{devoured}}">{{id}}. {{burger_name}}</span> --}}


{{#if devoured}}<span class="burger-names burger-names-eaten" data-devoured="{{devoured}}">{{id}}. {{burger_name}}</span><a class="btn-small eaten-burger disabled" data-id="{{id}}" data-devoured="{{devoured}}">
    <i class="material-icons left"></i>Eaten</a>
    {{else}}<span class="burger-names" data-devoured="{{devoured}}">{{id}}. {{burger_name}}</span>
<a class="waves-effect waves-light btn-small change-devoured" data-id="{{id}}" data-devoured="{{devoured}}">
    <i class="material-icons left">fastfood</i>Devour it!</a>
    {{/if}}





